body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2325 {
  position:absolute;
  left:30px;
  top:0px;
  width:60px;
  height:60px;
}
#u2326 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:70px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2328 {
  position:absolute;
  left:0px;
  top:-10px;
  width:1290px;
  height:70px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:27px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2330 {
  position:absolute;
  left:391px;
  top:15px;
  width:93px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u2330_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2330.mouseOver {
}
#u2331 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2332 {
  position:absolute;
  left:491px;
  top:15px;
  width:90px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u2332_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2332.mouseOver {
}
#u2333 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2334 {
  position:absolute;
  left:680px;
  top:15px;
  width:93px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u2334_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2334.mouseOver {
}
#u2335 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u2337 {
  position:absolute;
  left:48px;
  top:80px;
  width:9px;
  height:7px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u2339 {
  position:absolute;
  left:57px;
  top:64px;
  width:8px;
  height:10px;
}
#u2340 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u2341 {
  position:absolute;
  left:46px;
  top:54px;
  width:11px;
  height:10px;
}
#u2342 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2343 {
  position:absolute;
  left:577px;
  top:15px;
  width:100px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u2343_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2343.mouseOver {
}
#u2344 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2345 {
  position:absolute;
  left:31px;
  top:0px;
  width:60px;
  height:60px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2347 {
  position:absolute;
  left:1040px;
  top:14px;
  width:92px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u2347_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2347.mouseOver {
}
#u2348 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2350 {
  position:absolute;
  left:1086px;
  top:46px;
  width:68px;
  height:29px;
}
#u2350_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2350.mouseOver {
}
#u2351 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2352 {
  position:absolute;
  left:1086px;
  top:75px;
  width:68px;
  height:25px;
}
#u2352_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2352.mouseOver {
}
#u2353 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2354 {
  position:absolute;
  left:1086px;
  top:125px;
  width:68px;
  height:25px;
}
#u2354_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2354.mouseOver {
}
#u2355 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2356 {
  position:absolute;
  left:1086px;
  top:100px;
  width:68px;
  height:25px;
}
#u2356_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2356.mouseOver {
}
#u2357 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2358 {
  position:absolute;
  left:1086px;
  top:150px;
  width:68px;
  height:25px;
  text-align:left;
}
#u2358_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2358.mouseOver {
}
#u2359 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2360 {
  position:absolute;
  left:787px;
  top:17px;
  width:95px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u2360_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2360.mouseOver {
}
#u2361 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u2362 {
  position:absolute;
  left:1202px;
  top:20px;
  width:17px;
  height:20px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2364 {
  position:absolute;
  left:1227px;
  top:21px;
  width:39px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2365 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u2366 {
  position:absolute;
  left:1270px;
  top:28px;
  width:10px;
  height:6px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2368 {
  position:absolute;
  left:311px;
  top:15px;
  width:93px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u2368_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2368.mouseOver {
}
#u2369 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2370 {
  position:absolute;
  left:101px;
  top:17px;
  width:161px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2373 {
  position:absolute;
  left:1175px;
  top:14px;
  width:17px;
  height:16px;
  color:#FFFFFF;
}
#u2374 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2375 {
  position:absolute;
  left:1160px;
  top:20px;
  width:20px;
  height:20px;
}
#u2376 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  position:absolute;
  left:1px;
  top:60px;
  width:1289px;
  height:600px;
}
#u2378 {
  position:absolute;
  left:2px;
  top:292px;
  width:1285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2379 {
  position:absolute;
  left:148px;
  top:60px;
  width:1140px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2380 {
  position:absolute;
  left:10px;
  top:2px;
  width:1128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2381 {
  position:absolute;
  left:160px;
  top:91px;
  width:1110px;
  height:560px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2382 {
  position:absolute;
  left:2px;
  top:272px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:600px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2383 {
  position:absolute;
  left:1px;
  top:60px;
  width:149px;
  height:600px;
}
#u2384 {
  position:absolute;
  left:2px;
  top:292px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2385 {
  position:absolute;
  left:140px;
  top:365px;
  width:10px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2386 {
  position:absolute;
  left:2px;
  top:8px;
  width:6px;
  word-wrap:break-word;
}
